@using System.Security.Claims

@attribute [Authorize]
@page "/AuthorizeExample"
@inherits PageComponent


<PageScript>
    <script>

        // pageLoaded
        document.addEventListener("MDPPageLoaded", function (event) {

            // runButton
            document.getElementById("runButton").addEventListener("click", function (event) {

                // invokeMethod
                mdp.blazorCore.interopManager.invokeAsync("Echo", {
                    "message": "Hello World"
                }).then(result => {

                    // message
                    var message = result.message;

                    // alert
                    alert(message + " By PageController");
                });
            });
        }, { once: true });
    </script>
</PageScript>

<PageBody Context="@Context">

    <!-- title -->
    <h3>AuthorizeExample</h3>
    <hr />

    <!-- identity -->
    AuthenticationType=@(this.User?.Identity?.AuthenticationType)<br />
    UserId=@(this.User?.GetClaimValue(ClaimTypes.NameIdentifier))<br />
    UserName=@(this.User?.GetClaimValue(ClaimTypes.Name))<br />
    Mail=@(this.User?.GetClaimValue(ClaimTypes.Email))<br />
    Role=@(this.User != null ? String.Join(",", this.User.GetAllClaimValue(ClaimTypes.Role)) : "")<br />
    <br />
    <hr />

    <!-- run -->
    <input type="button" id="runButton" value="Run" /><br />
    <br />
    <hr />

    <!-- refresh -->
    <form action="/Account/Refresh" method="get">
        <input type="hidden" name="returnUrl" value="/AuthorizeExample" />
        <input type="submit" value="Refresh" /><br />
        <br />
    </form>
    <hr />

    <!-- logout -->
    <form action="/Account/Logout" method="get">
        <input type="hidden" name="returnUrl" value="/" />
        <input type="submit" value="Logout" /><br />
        <br />
    </form>
    <hr />
</PageBody>