@attribute [AllowAnonymous]
@page "/Account/Login"
@code {

    // Fields
    [Inject]
    public NavigationManager _navigationManager { get; set; } = null;


    // Methods
    private object CreatePageData()
    {
        // ReturnUrl
        var returnUrl = string.Empty;
        if (string.IsNullOrEmpty(returnUrl) == true) returnUrl = _navigationManager.ParseQuery()["returnUrl"];
        if (string.IsNullOrEmpty(returnUrl) == true) returnUrl = "/";

        // Return
        return new { returnUrl = returnUrl };
    }
}


<PageScript PageData="@this.CreatePageData()">
    <script>

        // blazorPageLoaded
        document.addEventListener("BlazorPageLoaded", function (event) {
             
            // variables
            const pageData = event.detail.pageData;

            // loginByLine
            document.getElementById("loginByLineButton").addEventListener("click", function (event) {

                // login
                mdp.blazor.authenticationManager.login("Line", pageData.returnUrl);
            });
        }, { once: true });
    </script>
</PageScript>


<!-- title -->
<h3>Login</h3>
<hr />

<!-- Login -->
<button class="btn btn-primary" id="loginByLineButton">LoginByLine</button><br />
<br />