@using MDP.BlazorCore
@using MDP.BlazorCore.Maui
@using Microsoft.AspNetCore.Authorization

@attribute [AllowAnonymous]
@layout EmptyLayout
@page "/Account/AccessDenied"
@code {

    // Properties
    [Parameter]
    public string ReturnUrl { get; set; } = null;

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null;


    // Methods
    protected override Task OnInitializedAsync()
    {
        // ReturnUrl
        if (string.IsNullOrEmpty(this.ReturnUrl) == true) this.ReturnUrl = this.NavigationManager.GetQueryValue("returnUrl");
        if (string.IsNullOrEmpty(this.ReturnUrl) == true) this.ReturnUrl = "/";

        // Return
        return Task.CompletedTask;
    }
}

<div class="mdp-processer">
    <div class="error">系統拒絕存取，請稍後再試或聯絡系統管理員</div>
    <div class="action-group">

        <!-- home -->
        <form action="/" method="get">
            <input class="btn btn-secondary" type="submit" value="回到首頁" />
        </form>

        <!-- refresh -->
        <form action="@(this.ReturnUrl)" method="get">
            <input class="btn btn-primary" type="submit" value="重新執行" />
        </form>
    </div>
    <div class="detail">@($"錯誤頁面：{this.ReturnUrl}")</div>
</div>