@page "/InteropExample"
@code {
    
    // Class
    public class PageService : InteropService
    {
        // Methods
        [AllowAnonymous]
        [InteropRoute("/User/FindByTenantId/[TenantId]")]
        public async Task<User> FindUserByTenantId(string tenantId, User user)
        {
            #region Contracts

            ArgumentNullException.ThrowIfNullOrEmpty(tenantId);
            ArgumentNullException.ThrowIfNull(user);

            #endregion

            // Setting
            user.TenantId = tenantId;

            // Return
            return await Task.FromResult(user);
        }

        public class User
        {
            // Properties
            public string TenantId { get; set; } = null;

            public string UserId { get; set; } = null;

            public string Name { get; set; } = null;
        }
    }
}

<PageScript>
    <script>

        // blazorPageLoaded
        document.addEventListener("BlazorPageLoaded", function (event) {

            // runDotNetButton
            document.getElementById("runDotNetButton").addEventListener("click", function (event) {

                // invokeMethod
                mdp.blazor.interopManager.invokeAsync("/User/FindByTenantId/T0001", {
                    "user": {
                        "userId": "U0001",
                        "name": "Clark"
                    }
                }).then(result => {
                    alert(JSON.stringify(result));
                }).catch(error => {
                    alert(error.message);
                });
            });

            // message
            document.getElementById("message").innerHTML += "BlazorPageLoaded";
        }, { once: true });
    </script>
</PageScript>

<!-- title -->
<h3>InteropExample</h3>
<hr />

<!-- Interop -->
<button class="btn btn-primary" id="runDotNetButton">Run .NET</button><br />
<br />

<p id="message"></p><br />
<br />