@page "/PageDataExample"
@inherits PageComponent<PageDataExample.PageModel>
@code {

    // Class
    public class PageController : InteropController
    {
        // Methods
        public async Task<PageModel> OnInitializedAsync()
        {
            // Return
            return await Task.FromResult(new PageModel
            {
                Message = "Hello World"
            });
        }
    }

    public class PageModel
    {
        // Properties
        [PageData]
        public string Message { get; set; }
    }
}

<PageScript>
    <script>

        // blazorPageLoaded
        document.addEventListener("MDPPageLoaded", function (event) {

            // variables
            const pageData = event.detail.pageData;

            // runButton
            document.getElementById("runButton").addEventListener("click", function (event) {

                // message
                var message = pageData.message;

                // alert
                alert(message + " By PageData");
            });
        }, { once: true });
    </script>
</PageScript>

<PageBody Context="@Context">

    <!-- title -->
    <h3>PageDataExample</h3>
    <hr />

    <!-- run -->
    <button class="btn btn-primary" id="runButton">Run</button><br />
    <br />
</PageBody>