@page "/PageModelExample"
@inherits PageComponent<PageModelExample.PageModel>
@code {

    // Class
    public class PageService : InteropService
    {
        // Methods
        public Task<PageModel> OnInitializedAsync()
        {
            // Return
            return Task.FromResult(new PageModel
            {
                Message = "Hello World"
            });
        }
    }

    public class PageModel
    {
        // Properties
        public string Message { get; set; }
    }
}

<PageScript>
    <script>

        // blazorPageLoaded
        document.addEventListener("BlazorPageLoaded", function (event) {

            // runButton
            document.getElementById("runButton").addEventListener("click", function (event) {

                // message
                var message = document.getElementById("messaage").innerText;

                // alert
                alert(message + " By PageModel");
            });
        }, { once: true });
    </script>
</PageScript>

<!-- title -->
<h3>PageModelExample</h3>
<hr />

<!-- run -->
<div id="messaage" style="display:none">@Model?.Message</div>
<button class="btn btn-primary" id="runButton">Run</button>
<br />