@page "/PageDataExample"
@inherits PageComponent<PageDataExample.PageModel>
@code {

    // Class
    public class PageService : InteropService
    {
        // Methods
        public Task<PageModel> OnInitializedAsync()
        {
            // Return
            return Task.FromResult(new PageModel
            {
                Message = "Hello World"
            });
        }
    }

    public class PageModel
    {
        // Properties
        [PageData]
        public string Message { get; set; }
    }
}

<PageScript PageData="@PageData">
    <script>

        // blazorPageLoaded
        document.addEventListener("BlazorPageLoaded", function (event) {

            // variables
            const pageData = event.detail.pageData;

            // runButton
            document.getElementById("runButton").addEventListener("click", function (event) {

                // message
                var message = pageData.Message;

                // alert
                alert(message + " By PageData");
            });
        }, { once: true });
    </script>
</PageScript>

<!-- title -->
<h3>PageDataExample</h3>
<hr />

<!-- run -->
<button class="btn btn-primary" id="runButton">Run</button><br />
<br />