@page "/PageModelExample"
@inherits PageComponent<PageModelExample.PageModel>

<PageScript>
    <script>

        // pageLoaded
        document.addEventListener("MDPPageLoaded", function (event) {

            // runButton
            document.getElementById("runButton").addEventListener("click", function (event) {

                // message
                var message = document.getElementById("messaage").innerText;

                // alert
                alert(message + " By PageModel");
            });
        }, { once: true });
    </script>
</PageScript>

<PageBody Context="@Context">

    <!-- title -->
    <h3>PageModelExample</h3>
    <hr />

    <!-- run -->
    <div id="messaage" style="display:none">@Model?.Message</div>
    <button class="btn btn-primary" id="runButton">Run</button>
    <br />
</PageBody>