
@page "/PageServiceExample"
@inherits PageComponent
@code {
    
    // Class
    public class PageService : InteropService
    {
        // Methods
        public async Task<string> Echo(string message)
        {
            #region Contracts

            ArgumentNullException.ThrowIfNullOrEmpty(message);

            #endregion

            // Return
            return await Task.FromResult(message);
        }
    }
}


<PageScript>
    <script>

        // blazorPageLoaded
        document.addEventListener("BlazorPageLoaded", function (event) {

            // runButton
            document.getElementById("runButton").addEventListener("click", function (event) {

                // invokeMethod
                mdp.blazor.interopManager.invokeAsync("Echo", {
                    "message": "Hello World"
                }).then(result => {
                    alert(result + " By PageService");
                }).catch(error => {
                    alert(error.message);
                });
            });
        }, { once: true });
    </script>
</PageScript>


<!-- title -->
<h3>PageServiceExample</h3>
<hr />

<!-- run -->
<button class="btn btn-primary" id="runButton">Run</button><br />
<br />