@using System.Text.Json

@namespace MDP.BlazorCore
@code {

    // Properties    
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public PageContext Context { get; set; } = null;

    [Parameter]
    public MarkupString PageDataString { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null;


    // Methods
    protected override void OnParametersSet()
    {
        // Base
        base.OnParametersSet();

        // PageData
        var pageDataString = this.CreatePageData();
        if (this.PageDataString.Value != pageDataString.Value)
        {
            this.PageDataString = pageDataString;
        }
    }

    private MarkupString CreatePageData()
    {
        // Require
        if (this.Context?.PageData == null) return new MarkupString("{}");

        // PageData
        var pageData = new Dictionary<string, object>(StringComparer.OrdinalIgnoreCase);
        foreach (var dataPair in this.Context?.PageData)
        {
            pageData[JsonNamingPolicy.CamelCase.ConvertName(dataPair.Key)] = dataPair.Value;
        }

        // Return
        return new MarkupString(JsonSerializer.Serialize(pageData, new JsonSerializerOptions
        {
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase
        }));
    }
}

<!-- pageLoading -->
@if (this.Context == null) {

    // processer
    <div class="mdp-processer">
        <div class="spinner-border"></div>
        <div class="title">Loading</div>
    </div>

    // return
    return;
}

<!-- pageError -->
@if (this.Context.PageError != null)
{
    // processer
    <div class="mdp-processer">
        <div class="error">系統發生錯誤，請稍後再試或聯絡系統管理員</div>
        <div class="action-group">

            <!-- home -->
            <form action="/" method="get">
                <input class="btn btn-secondary" type="submit" value="回到首頁" />
            </form>

            <!-- refresh -->
            <form action="@(this.NavigationManager.Uri)" method="get">
                <input class="btn btn-primary" type="submit" value="重新整理" />
            </form>
        </div>
        <div class="detail">@($"錯誤頁面：{new Uri(this.NavigationManager?.Uri).PathAndQuery.TrimEnd('?')}")</div>
        <div class="detail">@($"錯誤訊息：{this.Context?.PageError.Message}")</div>
    </div>

    // return
    return;
}

<!-- pageContent -->
@ChildContent
<span id="mdp-blazor-core-pagedata" style="display:none;" data-value="@PageDataString"></span>