@page "/InteropExample"
@code {
       
}


<PageScript>
    <script>

        // blazorPageLoaded
        document.addEventListener("BlazorPageLoaded", function (event) {

            // runDotNetButton
            document.getElementById("runDotNetButton").addEventListener("click", function (event) {

                // invokeMethod
                mdp.blazor.interopManager.invokeAsync("/User/FindByTenantId/T0001", {
                    "user": {
                        "userId": "U0001",
                        "name": "Clark"
                    }
                }).then(result => {
                    alert(JSON.stringify(result));
                }).catch(error => {
                    alert(error.message);
                });
            });

            // message
            document.getElementById("message").innerHTML += "BlazorPageLoaded";
        }, { once: true });
    </script>
</PageScript>


<!-- title -->
<h3>InteropExample</h3>
<hr />

<!-- Interop -->
<button class="btn btn-primary" id="runDotNetButton">Run .NET</button><br />
<br />

<p id="message"></p><br />
<br />