@attribute [Authorize]
@page "/PageControllerExample"
@inherits PageComponent
@code {
    
    // Class
    public class PageController : InteropController
    {
        // Methods
        public async Task<string> Echo(string message)
        {
            // Return
            return await Task.FromResult(message);
        }
    }
}

<PageScript>
    <script>

        // blazorPageLoaded
        document.addEventListener("MDPPageLoaded", function (event) {

            // runButton
            document.getElementById("runButton").addEventListener("click", function (event) {

                // invokeMethod
                mdp.blazorCore.interopManager.invokeAsync("Echo", {
                    "message": "Hello World"
                }).then(result => {
                    alert(result + " By PageController");
                }).catch(error => {
                    alert(error.message);
                });
            });
        }, { once: true });
    </script>
</PageScript>

<PageBody Context="@Context">

    <!-- title -->
    <h3>PageControllerExample</h3>
    <hr />

    <!-- run -->
    <button class="btn btn-primary" id="runButton">Run</button><br />
    <br />
</PageBody>