@attribute [Authorize]
@page "/PageControllerExample"
@inherits PageComponent

<PageScript>
    <script>

        // pageLoaded
        document.addEventListener("MDPPageLoaded", function (event) {

            // runButton
            document.getElementById("runButton").addEventListener("click", function (event) {

                // invokeMethod
                mdp.blazorCore.interopManager.invokeAsync("Echo", {
                    "message": "Hello World"
                }).then(result => {

                    // message
                    var message = result.message;

                    // alert
                    alert(message + " By PageController");
                });
            });
        }, { once: true });
    </script>
</PageScript>

<PageBody Context="@Context">

    <!-- title -->
    <h3>PageControllerExample</h3>
    <hr />

    <!-- run -->
    <button class="btn btn-primary" id="runButton">Run</button><br />
    <br />
</PageBody>