@using System.Text.Json

@namespace MDP.BlazorCore
@code {

    // Properties    
    [Parameter]
    public object PageData { get; set; } = null;

    [Parameter]
    public MarkupString PageDataString { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }


    // Methods
    protected override void OnParametersSet()
    {
        // Base
        base.OnParametersSet();

        // PageData
        if (this.PageData != null)
        {
            var pageDataString = this.CreatePageData();
            if (this.PageDataString.Value != pageDataString.Value)
            {
                this.PageDataString = pageDataString;
            }
        }
    }

    private MarkupString CreatePageData()
    {
        // Require
        if (this.PageData == null) return new MarkupString("{}");

        // Return
        return new MarkupString(JsonSerializer.Serialize(this.PageData));
    }
}

<SectionContent SectionId="@(PageOutlet.PageDataSectionId)">
    <span id="mdp-blazor-pagedata" style="display:none;" data-value="@PageDataString"></span>
</SectionContent>
<SectionContent SectionId="@(PageOutlet.PageScriptSectionId)" ChildContent="@ChildContent" />